<%- include('../navbar.ejs') %>
    <link rel="stylesheet" href="/css/usuarios.css">
    <script src="/js/restaurar-usuarios.js" defer></script>

    <div class="inside-content-css">
        <h1> Módulo Usuarios </h1>

        <div class="columns" style="margin-top: 1rem;">
            <div class="column is-centered" style="text-align: center;">
                <button class="default-button-css functionality-button-css" onclick="returnMainTable()">
                    <i class="fa-solid fa-circle-left default-icon-button-css"></i>
                    <p>Regresar al tablero</p>
                </button>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input" type="text" id="searchInput" placeholder="Buscar por nombre, apellido o área" onkeyup="filterTable()">
            </div>
        </div>

        <table class="table is-fullwidth is-hoverable">
            <thead>
                <tr style="background: linear-gradient(135deg, var(--dark-green), var(--light-blue));">
                    <th class="has-text-centered">Nombre</th>
                    <th class="has-text-centered">Apellido Paterno</th>
                    <th class="has-text-centered">Apellido Materno</th>
                    <th class="has-text-centered">Área</th>
                    <th class="has-text-centered">Puesto</th>
                    <th class="has-text-centered">Privilegio</th>
                    <th class="has-text-centered">Acciones</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <% usersRows.forEach(user=> { %>
                    <tr>
                        <td class="is-centered">
                            <%= user.nombre %>
                        </td>
                        <td class="is-centered">
                            <%= user.apellidoP %>
                        </td>
                        <td class="is-centered">
                            <%= user.apellidoM %>
                        </td>
                        <td class="is-centered">
                            <%= user.area %>
                        </td>
                        <td class="is-centered">
                            <%= user.puesto %>
                        </td>
                        <td class="is-centered">
                            <% if (user.privilegio === "colaborador") { %>
                                Colaborador
                            <% } else if (user.privilegio === "rHumanos") { %>
                                Recursos Humanos
                            <% } else if (user.privilegio === "jefeInmediato") { %>
                                Jefe Inmediato
                            <% } else if (user.privilegio === "direccion") { %>
                                Dirección
                            <% } else if (user.privilegio === "superadmin") { %>
                                Superadmin
                            <% } else { %>
                                No autorizado
                            <% } %>
                        </td>
                        <td class="is-centered">
                            <div class="columns is-centered">

                                <!-- activateUser button : activateUser --->
                                <div class="column">
                                    <button id="activateUser" class="default-button-css table-button-css" userId="<%= user._id %>" onclick="activateUser(this)">
                                        <i class="fa-solid fa-user-check"></i>
                                    </button>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <div class="pagination" >
            <button class="default-button-css" onclick="prevPage()">Anterior</button>
            <button class="default-button-css" onclick="nextPage()">Siguiente</button>
        </div>


    </div>