<%- include('../navbar.ejs') %>
    <link rel="stylesheet" href="/css/usuarios.css">
    <script src="/js/usuarios.js" defer></script>


    <div class="inside-content-css">

        <h1> Módulo Usuarios </h1>

        <div class="columns" style="margin-top: 1rem;">
            <!-- newUser button : newUser --->
            <div class="column is-centered" style="text-align: center;">
                <button class="default-button-css functionality-button-css" onclick="newUser()">
                    <i class="fa-solid fa-user-plus default-icon-button-css"></i>
                    <p>Nuevo Usuario</p>
                </button>
            </div>

            <!-- restoreUser button : restoreUser --->
            <div class="column is-centered" style="text-align: center;">
                <button class="default-button-css functionality-button-css" onclick="restoreUser()">
                    <i class="fa-solid fa-rotate-right default-icon-button-css"></i>
                    <p>Restaurar Usuario</p>
                </button>
            </div>

            <!-- downloadPDF button : downloadPDF --->
            <div class="column is-centered" style="text-align: center;">
                <button class="default-button-css functionality-button-css" onclick="downloadPDF()">
                    <i class="fa-solid fa-download default-icon-button-css"></i>
                    <p>Descargar PDF</p>
                </button>
            </div>

            <!-- downloadExcel button : downloadExcel --->
            <div class="column is-centered" style="text-align: center;">
                <button class="default-button-css functionality-button-css" onclick="downloadExcel()">
                    <i class="fa-solid fa-download default-icon-button-css"></i>
                    <p>Descargar Excel</p>
                </button>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input" type="text" id="searchInput" placeholder="Buscar por nombre, apellido o área" onkeyup="filterTable()">
            </div>
        </div>

        <table class="table is-fullwidth is-hoverable">
            <thead>
                <tr style="background: linear-gradient(135deg, var(--dark-green), var(--light-blue));">
                    <th class="has-text-centered">Nombre</th>
                    <th class="has-text-centered">Apellido Paterno</th>
                    <th class="has-text-centered">Apellido Materno</th>
                    <th class="has-text-centered">Área</th>
                    <th class="has-text-centered">Acciones</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                <% usersRows.forEach(user=> { %>
                    <tr>
                        <td class="is-centered">
                            <%= user.nombre %>
                        </td>
                        <td class="is-centered">
                            <%= user.apellidoP %>
                        </td>
                        <td class="is-centered">
                            <%= user.apellidoM %>
                        </td>
                        <td class="is-centered">
                            <%= user.area %>
                        </td>
                        <td class="is-centered">
                            <div class="columns is-centered">

                                <!-- viewAndEditUser button : viewAndEditUser --->
                                <div class="column is-narrow">
                                    <button class="default-button-css table-button-css" onclick="viewAndEditUser()">
                                        <i class="fa-solid fa-user-pen"></i>
                                    </button>
                                </div>

                                <!-- disableUser button : disableUser --->
                                <div class="column is-narrow">
                                    <button class="default-button-css table-button-css" onclick="disableUser()">
                                        <i class="fa-solid fa-user-minus"></i>
                                    </button>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <div class="pagination" >
            <button class="default-button-css" onclick="prevPage()">Anterior</button>
            <button class="default-button-css" onclick="nextPage()">Siguiente</button>
        </div>


    </div>