<%- include('../navbar.ejs') %>
    <!-- TODO, frontend 100% --->
    <link rel="stylesheet" href="/css/usuarios.css">

    <script>
        const usersRows = <%- JSON.stringify(usersRows) %>; 
    </script>

    <script src="/js/usuarios.js" defer></script>

    <div class="inside-content-css">

        <h1> Módulo Usuarios </h1>

        <div class="columns" style="margin-top: 1rem;">
            <!-- addUser button : addUser --->
            <div class="column is-centered" style="text-align: center;">
                <button class="default-button-css functionality-button-css" onclick="addUser()">
                    <i class="fa-solid fa-user-plus default-icon-button-css"></i>
                    <p>Añadir Usuarios</p>
                </button>
            </div>

            <!-- disabledUsersTable button : disabledUsersTable --->
            <div class="column is-centered" style="text-align: center;">
                <button class="default-button-css functionality-button-css" onclick="disabledUsersTable()">
                    <i class="fa-solid fa-boxes-packing default-icon-button-css"></i>
                    <p>Restaurar Usuarios</p>
                </button>
            </div>

            <!-- downloadPDF button : downloadPDF TODO --->
            <div class="column is-centered" style="text-align: center;">
                <button class="default-button-css functionality-button-css" onclick="downloadPDF()">
                    <i class="fa-solid fa-download default-icon-button-css"></i>
                    <p>Descargar PDF</p>
                </button>
            </div>

            <!-- downloadExcel button : downloadExcel TODO --->
            <div class="column is-centered" style="text-align: center;">
                <button class="default-button-css functionality-button-css" onclick="downloadExcel()">
                    <i class="fa-solid fa-download default-icon-button-css"></i>
                    <p>Descargar Excel</p>
                </button>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input" type="text" id="searchInput" placeholder="Buscar por nombre, apellido o área" onkeyup="filterTable()">
            </div>
        </div>

        <table class="table is-fullwidth is-hoverable">
            <thead>
                <tr style="background: linear-gradient(135deg, var(--dark-green), var(--light-blue));">
                    <th class="has-text-centered">Nombre</th>
                    <th class="has-text-centered">Apellido Paterno</th>
                    <th class="has-text-centered">Apellido Materno</th>
                    <th class="has-text-centered">Área</th>
                    <th class="has-text-centered">Puesto</th>
                    <th class="has-text-centered">Privilegio</th>
                    <th class="has-text-centered">Acciones</th>
                </tr>
            </thead>
            <tbody id="tableBody"> <!-- TODO Cap Display info at 50chars idk --->
                <% usersRows.forEach(user=> { %>
                    <tr>
                        <td class="is-centered">
                            <%= user.nombre %>
                        </td>
                        <td class="is-centered">
                            <%= user.apellidoP %>
                        </td>
                        <td class="is-centered">
                            <%= user.apellidoM %>
                        </td>
                        <td class="is-centered">
                            <%= user.area %>
                        </td>
                        <td class="is-centered">
                            <%= user.puesto %>
                        </td>
                        <td class="is-centered">
                            <%= user.privilegio %>
                        </td>
                        <td class="is-centered">
                            <div class="columns is-centered">

                                <!-- viewAndEditUser button : viewAndEditUser TODO (remake with only userId + global.usersRows --->
                                <div class="column is-narrow">
                                    <button class="default-button-css table-button-css"
                                    email = "<%= user.email %>"
                                    password = "<%= user.password %>"
                                    nombre = "<%= user.nombre %>"
                                    apellidoP = "<%= user.apellidoP %>"
                                    apellidoM = "<%= user.apellidoM %>"
                                    fechaBaja = "<%= user.fechaBaja %>"
                                    fechaIngreso = "<%= user.fechaIngreso %>"
                                    area = "<%= user.area %>"
                                    foto = "<%= user.foto %>"
                                    puesto = "<%= user.puesto %>"
                                    jefeInmediato = "<%= user.jefeInmediato %>"
                                    onclick="viewAndEditUser(this)">
                                        <i class="fa-solid fa-user-pen"></i>
                                    </button>
                                </div>

                                <!-- disableUser button : disableUser --->
                                <div class="column is-narrow">
                                    <button class="default-button-css table-button-css" userId="<%= user._id %>" onclick="disableUser(this)">
                                        <i class="fa-solid fa-user-xmark"></i>
                                    </button>
                                </div>

                                <!-- changPrivilegebutton : changePrivilege --->
                                <div class="column is-narrow">
                                    <button class="default-button-css table-button-css" userId="<%= user._id %>" onclick="changePrivilege(this)">
                                        <i class="fa-solid fa-user-tag"></i>
                                    </button>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <div class="pagination" >
            <button class="default-button-css" onclick="prevPage()">Anterior</button>
            <button class="default-button-css" onclick="nextPage()">Siguiente</button>
        </div>


    </div>