<%- include('../navbar.ejs') %>

    <script src="/js/permisos/rHumanosPermitsView.js" defer></script>

    <link rel="stylesheet" href="/css/permisos.css">


    <div class="inside-content-css">
        <h1> Módulo Permisos (Vista de recursos humanos) </h1>

        <div class="field">
            <div class="control">
                <input class="input" type="text" id="searchInput" placeholder="Buscar por nombre, apellido o área" onkeyup="filterTable()">
            </div>
        </div>

        <table class="table is-fullwidth is-hoverable">

            <thead>
                <tr style="background: linear-gradient(135deg, var(--dark-green), var(--light-blue));">
                    <th class="has-text-centered">Colaborador</th>
                    <th class="has-text-centered">Tipo Permiso</th>
                    <th class="has-text-centered">Fecha inicio</th>
                    <th class="has-text-centered">Fecha termino</th>
                    <th class="has-text-centered">Consultar docs</th>
                    <th class="has-text-centered">Estatus</th>
                    <th class="has-text-centered">Acciones</th>
                </tr>
            </thead>

            <% if (permitsRows.length !== 0) { %>
            <tbody id="tableBody"> 
                <% permitsRows.forEach(permit=> { %>
                    <tr>
                        <td class="is-centered">
                            <%= permit.userId.nombre + " " + permit.userId.apellidoP + " " + permit.userId.apellidoM %>
                        </td>
                        <td class="is-centered">
                            <%= permit.tipoPermiso %>
                        </td>
                        <td class="is-centered">
                            <%= permit.fechaInicio %>
                        </td>
                        <td class="is-centered">
                            <%= permit.fechaTermino %>
                        </td>
                        <td class="is-centered">

                            <% if (!permit.docPaths || permit.docPaths.length === 0) { %>
                                No hay documentos
                            <% } else { %>
                                <ul>
                                    <% permit.docPaths.forEach(function(docPath) { %>
                                        <li><%= docPath %></li>
                                    <% }); %>
                                </ul>
                            <% } %>
                            
                        </td>

                        <td class="is-centered">
                            <% if (permit.estatus === "Aprobado") { %>
                                    <i class="fa-solid fa-thumbs-up status-css" style="justify-self: center; margin-right: 0.5rem;"></i> Aprobado
                            <% } else if (permit.estatus === "Cancelado") { %>
                                        <i class="fa-solid fa-thumbs-down status-css" style="justify-self: center; margin-right: 0.5rem;"></i> Cancelado
                            <% } else if (permit.estatus === "Pendiente") { %>
                                            <i class="fa-solid fa-clock status-css" style="justify-self: center; margin-right: 0.5rem;"></i> Pendiente
                            <% } else if (permit.estatus === "Justificado") { %>
                                    <i class="fa-solid fa-thumbs-up status-css" style="justify-self: center; margin-right: 0.5rem;"></i> Justificado
                            <% } else if (permit.estatus === "Injustificado") { %>
                                    <i class="fa-solid fa-thumbs-down status-css" style="justify-self: center; margin-right: 0.5rem;"></i> Injustificado
                            <% } else { %>
                                <%= permit.estatus %>
                            <% } %>
                        </td>


                        <td class="is-centered">
                            <% if (!permit.isVerified) { %>
                                <div class="columns is-centered">
                                    <div class="column is-narrow">
                                        <button class="default-button-css table-button-css" userId="<%= permit._id %>" onclick="changeStatus(this)" >
                                            <i class="fa-solid fa-gear"></i>
                                        </button>
                                    </div>

                                    <div class="column is-narrow">
                                        <button class="default-button-css table-button-css" userId="<%= permit._id %>" onclick="verifyPermit(this)">
                                            <i class="fa-solid fa-clipboard-check"></i>
                                        </button>
                                    </div>
                                </div>
                            <% } else { %>
                                <i class="fa-solid fa-check status-css" style="justify-self: center; margin-right: 0.5rem;"></i>Cerrado
                            <% } %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h2 style="font-size:2.61rem; display: block; padding: 0.6rem; margin-bottom:1.5rem;">No existen permisos a la fecha.</h2>
        <% }; %>
        <div class="pagination" >
            <button class="default-button-css" onclick="prevPage()">Anterior</button>
            <button class="default-button-css" onclick="nextPage()">Siguiente</button>
        </div>

    </div>